<a href="https://colab.research.google.com/github/CarlosDaniel1157/CyP/blob/main/Fundamentos2_CyP_1157.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tipos de datos estructurados

1. Listas
2. Tuplas
3. Diccionarios
4. Conjuntos (opcional)

# Listas
- Tipo de dato que agrupa variables o valores.
- Se declara de dos formas
  - Usando []
  - Usando list ()
- Puede contener tipos de dato diversos (En otros lenguajes de programación eso no es posible de forma directa)
- Los elemnetos internos se seleccionan con []
- Soporta slicing
-SON MUTABLES
- GENERADORES

In [ ]:
numeros = [10, 5, 2, 3, 1]
print(numeros)

numeros2 = list()
numeros2.append(10)
numeros2.append(5)
numeros2.append(2)
numeros2.append(3)
numeros2.append(1)
print(numeros2)

numeros [2] = 20
print(numeros)
numeros [4] = 33  #numeros [-1] = 33
print(numeros)
numeros.append (88)
print(numeros)

[10, 5, 2, 3, 1]
[10, 5, 2, 3, 1]
[10, 5, 20, 3, 1]
[10, 5, 20, 3, 33]
[10, 5, 20, 3, 33, 88]

In [ ]:
# Tipos diversos

cosas = (12,2,True, "Jose", 1.57, ["Pera","kiwi","Uva" ])
print(cosas)
print(cosas[1])
print(cosas[4])
print(cosas[5])
print(cosas[5][1])
print(cosas[3][1:3:])
#cosas[3] = cosas[3].upper()
#print(cosas)

(12, 2, True, 'Jose', 1.57, ['Pera', 'kiwi', 'Uva'])
2
1.57
['Pera', 'kiwi', 'Uva']
kiwi
os

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9,10,11]
print(numeros)
# slcinig
#1.- [4,....,8]
print(numeros[3:8:])
#2.- [9,10]
print(numeros[-3:-1:])
print(numeros[8:10:])
#3.- [11,10,9....,1]
print(numeros[::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[4, 5, 6, 7, 8]
[9, 10]
[9, 10]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# Crear una lista con generadores

numeros = [x for x in range (31)]
print (numeros)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

 # Función range()
 Tienen los mismos componentes que slicing 
 inicio, stop, incremento
 range(1,101,1)

In [ ]:
numeros = [x for x in range (50,101,5)]
print (numeros)

[50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

# Metodos disponibles de las listas

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
numeros = [4,1,15,8,22,34,50]
print(numeros)
numeros.append(99)
print(numeros)
numeros.clear()
print(numeros)
numeros = []
print(numeros)
frutas = ("Uvas","Kiwi","Manzanas")
copia = frutas
print(frutas)
print(copia)
#frutas.append("naranja")
print(frutas)
print(copia)

colores = ("Rojo","Azul","Blanco")
#copia2 = colores.copy()
print(colores)
#print(copia2)
#colores.append("Verde")
print(colores)
#print(copia2)

print("Numero de veces  que aparece el 15=", numeros.count(15))

#extend
nombres = ("Jose","Pedro","Karina")
otrosNombres = ("Josue", "Diana", "Dalia")
print(nombres)
print(otrosNombres)
nombres = nombres + otrosNombres
print(nombres)
print(otrosNombres)
# Lo mismo con el metodo extend
#otrosNombres.extend(['Jesus','Maria','Jose'])
print(otrosNombres)

#print("Jesus esta en la posición: ", otrosNombres.index("Jesus"))

[4, 1, 15, 8, 22, 34, 50]
[4, 1, 15, 8, 22, 34, 50, 99]
[]
[]
('Uvas', 'Kiwi', 'Manzanas')
('Uvas', 'Kiwi', 'Manzanas')
('Uvas', 'Kiwi', 'Manzanas')
('Uvas', 'Kiwi', 'Manzanas')
('Rojo', 'Azul', 'Blanco')
('Rojo', 'Azul', 'Blanco')
Numero de veces  que aparece el 15= 0
('Jose', 'Pedro', 'Karina')
('Josue', 'Diana', 'Dalia')
('Jose', 'Pedro', 'Karina', 'Josue', 'Diana', 'Dalia')
('Josue', 'Diana', 'Dalia')
('Josue', 'Diana', 'Dalia')

# 09 Noviembre 20021

# Tuplas
Caracteristicas de la tuplas
- Datos agrupados
- Se declara de dos formas
  - ()
  -tuple()
- Pueden tenere de 0 a n elementos
- NO SON MUTABLES (no se puede eliminar y/o cambiar)
- Son buenas para almacenar información de consulta
- Puenen almacenar información de diferente tipo de dato
- Pueden estar anidadas
- Tienen metodos utiles

In [ ]:
info = ("juan 23","dios1234","123.232.1.12")
print(info)
print(info[1])
#info[1]="patito23"

numeros = (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)
print(numeros)
print(numeros[5:11])
cosas = (info, numeros)
print(cosas)
print(cosas[1][5:11:1])
print(cosas[0][2][4:7])

('juan 23', 'dios1234', '123.232.1.12')
dios1234
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)
(5, 6, 7, 8, 9, 10)
(('juan 23', 'dios1234', '123.232.1.12'), (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15))
(5, 6, 7, 8, 9, 10)
232

# Metodos de las duplas
Son los mismos de las listas pero los que no involucren mutabilidad

# Diccionarios
### Caracteristicas de los diccionarios

- Agrupan datos pero de forma no lineal
- Se declaran con:
  - {}
  - dict()
- Formado por pares de tipo llave:valor, donde:
  - Llave es de tipo string
  - Valor puede der du cualquier tipo de dato, incluyendo los diccionarios
- Se seleccionan con la llave de la forma: ["id_llave"]
- Son mutables
- Son anidables
- Son equivalentes al tipo de dato JSON del lenguaje JavaScript(JS)

In [ ]:
alumno = {"nombre":"José"}
print(alumno)
print(alumno["nombre"])
alumno = {"nombre":"José","nc":"12345678","edad":18}
print(alumno)
print("La edad del alumno es: ",alumno["edad"])
print(alumno["nombre"].upper())

print("Alumno 2")
alumno2= dict()
alumno2["nombre"] = "jose"
alumno2 ["nc"]="2345671"
alumno2["edad"]=18
print(alumno2)

alumno2 ["edad"] = alumno2["edad"] + 1
print(alumno2)

{'nombre': 'José'}
José
{'nombre': 'José', 'nc': '12345678', 'edad': 18}
La edad del alumno es:  18
JOSÉ
Alumno 2
{'nombre': 'jose', 'nc': '2345671', 'edad': 18}
{'nombre': 'jose', 'nc': '2345671', 'edad': 19}

In [10]:
cliente = {"id":"CT2121" ,
           "nombre":"Jose Pedroza Rosales" ,
           "telefono":"casa=554423456 cel=31563723"}
print(cliente)
cliente = {"id":"CT2121" ,
           "nombre":{
               "nombres":["José","Eduardo"],
               "Paterno":"Pedroza",
               "materno":"Rosales"
           } ,
           "telefonos":{
               "casa":"2672378",
               "trabajo":"54364877",
               "celular":"5464377842"
           } ,
            "productos":{
                "ahorro":{"numero_cuenta":"7788","ahorro":2500.5},
                          "tarjetas":[
                                      {"tipo":"debito","saldo":2500.5},
                                      {"tipo":"credito preferente","limite":250000.5},
                                      {"tipo":"lite","limite":15000.5}
                          ]
            },
           "dirección":{
               "calle":"Av.Central",
               "numero":"1245",
               "colonia":"Impulsora",
               "delegación":"Nezahulcoyotl",
               "estado" : {
                   "clave":15,
                   "Nombre corto":"Edomex",
                   "nombre":"Estado de México"
               }
           }
           }

print(cliente)
print(cliente["telefonos"]["casa"])
print(cliente["dirección"]["estado"]["clave"])
print(cliente["productos"]["tarjetas"][2]["limite"])
print(cliente["productos"]["tarjetas"][0]["saldo"])
print("nuevo saldo",cliente["productos"]["tarjetas"][0]["saldo"]-1500)
print(cliente["productos"])

{'id': 'CT2121', 'nombre': 'Jose Pedroza Rosales', 'telefono': 'casa=554423456 cel=31563723'}
{'id': 'CT2121', 'nombre': {'nombres': ['José', 'Eduardo'], 'Paterno': 'Pedroza', 'materno': 'Rosales'}, 'telefonos': {'casa': '2672378', 'trabajo': '54364877', 'celular': '5464377842'}, 'productos': {'ahorro': {'numero_cuenta': '7788', 'ahorro': 2500.5}, 'tarjetas': [{'tipo': 'debito', 'saldo': 2500.5}, {'tipo': 'credito preferente', 'limite': 250000.5}, {'tipo': 'lite', 'limite': 15000.5}]}, 'dirección': {'calle': 'Av.Central', 'numero': '1245', 'colonia': 'Impulsora', 'delegación': 'Nezahulcoyotl', 'estado': {'clave': 15, 'Nombre corto': 'Edomex', 'nombre': 'Estado de México'}}}
2672378
15
15000.5
2500.5
nuevo saldo 1000.5
{'ahorro': {'numero_cuenta': '7788', 'ahorro': 2500.5}, 'tarjetas': [{'tipo': 'debito', 'saldo': 2500.5}, {'tipo': 'credito preferente', 'limite': 250000.5}, {'tipo': 'lite', 'limite': 15000.5}]}

# 11 noviembre 2021

# Estructuras de control de programación

Se puede crear cualquier tipo de algoritmo empleando solamente 3 estructuras de control

1. Secuencia
  - La representación de la memoria de programa (Arquitectura Vonn Newman)
2. Selección
  - Es la estructura de control que decide si un bloque de programa se ejecuta o no se ejecuta. Tambien permite seleccinar ejecutar un bloque entre un conjunto de opciones.
  - En resumen tenemos: Selección simple, seleccion con bifurcación y selección multiple
3. Repetición
   Este tipo de estructura nos permite automatizar la ejecución repetitiva de código minentras sierta condiciones se cumplan, tenemos 3 variantes de esta estructura en todos los lenguajes de programación
    - Desde...hasta (estructura for)
    - Mientras (estructura While)
    - Haz y luego valida mientras (estructura Do-While)

# Estructura de selección simple

la estructuta if

'''
if <CONDICION:
Cuerpo de if>
'''
**NOTA** Para establecer el cuerpo de una estructura de control en Python se usan 
En otros programas como java, C, C++,... se usan las llaves {}

In [5]:
edad = int(input("Dame tu edad: "))
print(f"Tecleaste {edad} años")
if edad >= 18:
  print("Eres mayor de edad")
  print("Algo")
print("Fin de programa")

Dame tu edad: 16
Tecleaste 16 años
Fin de programa

In [10]:
CAL = float(input("Ingrese la calificación obtenida: "))
if CAL > 8:
  print("Aprovado")
print("Fin del programa")

Ingrese la calificación obtenida: 7.99
Fin del programa

In [15]:
SUE = float(input("Ingrese el sueldo: "))
if SUE < 1000:
  AUM = SUE * 0.15
  MSUE = SUE + AUM
  print(MSUE)
print("Fin del programa")

Ingrese el sueldo: 875.50
1006.825
Fin del programa