<a href="https://colab.research.google.com/github/CarlosDaniel1157/CyP/blob/main/Fundamentos3_CyP_1157.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 23 noviembre 2021

Repetición:

Este tipo de estructura nos permite automatizar la ejecución repetitiva de código mientas ciertas condiciones s cumplan, tenemos 3 variantes de esta estructura en todos los lenguajes de programación:

- Desde...hasta (estructura for)
- Haz mientras (structura While)
- Haz y luego validaz mientras( estructura Do-While)

# FOR con Python
```
for j in range (10):
    print(f"Hola { j }")
```

# FOR con Leng C y/o Java
```
for( int j=0, j<10; j=j+1){
    printf("Hola $i \n, j ")
}
```
En todos los lenguajes de programación existe un tipo especial de for, conocido como **for-each**

### For-each en Python
```
for color in colores:
    print(f"Este es el color { color }")
```

In [ ]:
# función range ()
# range (<INICIO>, <STOP>, <INCREMENTO>)
x = range(0,10,2)
print(x)

for j in range(10): # range(0,10) --> 0,1,2,3,4,5,6,7,8,9
    print("hola",j)
print("------")
for j in range(0,10,2): # range(0,10) --> 0,2,4,6,8
    print("hola",j)
print("------")
frutas = ["Uva", "Aguacate", "Pera", "Manzana", "Sandia"]
print(frutas[0])
print(frutas[1])
print(frutas[2])
print(frutas[3])
print(frutas[4])
print("---FRUTAS---")
for index in range(5):
    print(frutas[index])

range(0, 10, 2)
hola 0
hola 1
hola 2
hola 3
hola 4
hola 5
hola 6
hola 7
hola 8
hola 9
------
hola 0
hola 2
hola 4
hola 6
hola 8
------
Uva
Aguacate
Pera
Manzana
Sandia
---FRUTAS---
Uva
Aguacate
Pera
Manzana
Sandia

### +++++
### +++++
### +++++
### +++++
### +++++

In [ ]:
for c in range(5):
    print("+++++")

+++++
+++++
+++++
+++++
+++++

# 25 noviembre 2021

In [2]:
for x in range(1,20,1):
    print(x)
print("--FIN DEL PROGRAMA--")

for x in range(19,0,-1):
    print(x)
print("--FIN DEL PROGRAMA--")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
--FIN DEL PROGRAMA--
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
--FIN DEL PROGRAMA--

In [13]:
#ejemplo 3.3
CUECER = 0
N = 0
NUM = 0
N = int(input("Un valor numerico mayor que 1: "))
for i in range(1,N+1,1):
    N = int(input("Un valor numerico: "))
    if N == 0:
        CUECER += 1
print("CUECER = ",CUECER)

Un valor numerico mayor que 1: 0
CUECER =  0

In [14]:
# Tabla del 7
n=7
for y in range(1,11,1):
    x = n*y
    print(f"{n} x {y} = {x}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [34]:
x = int(input("Dame un numero entre 1 y 5: "))
if x>=1 and x<=5:
    y = int(input(f"Dame un numero entre {x} y 10: "))
    if y > x and y<=10:
        for a in range(x,y+1,1):
            for j in range(1,11):
                print(f"{a} x {j} = ", a*j)
            print("------")
    else:
        print(f"Valor fuera del rango {x} y 10")
else:
    print("Valor fuera del rango  1 y 5")

Dame un numero entre 1 y 5: 5
Dame un numero entre 5 y 10: 6
5 x 1 =  5
5 x 2 =  10
5 x 3 =  15
5 x 4 =  20
5 x 5 =  25
5 x 6 =  30
5 x 7 =  35
5 x 8 =  40
5 x 9 =  45
5 x 10 =  50
------
6 x 1 =  6
6 x 2 =  12
6 x 3 =  18
6 x 4 =  24
6 x 5 =  30
6 x 6 =  36
6 x 7 =  42
6 x 8 =  48
6 x 9 =  54
6 x 10 =  60
------

In [45]:
# Generadores de lista
numeros = [0,0,0,0,0]
print(numeros)
numeros = [0 for x in range(5)]
print(numeros)
# empleando la variable de control x para el valor inicial
numeros = [x for x in range(5)]
print(numeros)
# 10, 20 , 30 , 40 , 50... 100
numeros = [x for x in range(10,101,10)]
print(numeros)

[0, 0, 0, 0, 0]
[0, 0, 0, 0, 0]
[0, 1, 2, 3, 4]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [88]:
# ejercicio: Calcular promedio de edades
suma = 0
edades = [x for x in range(5)]
for x in range(5):
    edades[x]=int(input("Ingrese la edad: "))
    suma = suma + edades[x]
print("Promedio: ",suma/5)

Ingrese la edad: 13
Ingrese la edad: 13
Ingrese la edad: 12
Ingrese la edad: 324
Ingrese la edad: 233
Promedio:  119.0

In [82]:
import random
print(random.random())
print(random.uniform(5,11))
val = round(random.uniform(5,11) , 2)
print(val)

valores = [round(random.uniform(5,11),2) for x in range(20)]
print(valores)

0.5567447194595029
6.042605380273674
10.0
[7.8, 7.79, 5.67, 7.14, 10.06, 6.95, 10.41, 6.94, 5.63, 5.61, 7.56, 7.22, 9.56, 10.91, 5.77, 9.34, 5.66, 10.81, 5.61, 10.27]