<a href="https://colab.research.google.com/github/CarlosDaniel1157/CyP/blob/main/Fundamentos2_CyP_1157.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tipos de datos estructurados

1. Listas
2. Tuplas
3. Diccionarios
4. Conjuntos (opcional)

# Listas
- Tipo de dato que agrupa variables o valores.
- Se declara de dos formas
  - Usando []
  - Usando list ()
- Puede contener tipos de dato diversos (En otros lenguajes de programación eso no es posible de forma directa)
- Los elemnetos internos se seleccionan con []
- Soporta slicing
-SON MUTABLES
- GENERADORES

In [25]:
numeros = [10, 5, 2, 3, 1]
print(numeros)

numeros2 = list()
numeros2.append(10)
numeros2.append(5)
numeros2.append(2)
numeros2.append(3)
numeros2.append(1)
print(numeros2)

numeros [2] = 20
print(numeros)
numeros [4] = 33  #numeros [-1] = 33
print(numeros)
numeros.append (88)
print(numeros)

[10, 5, 2, 3, 1]
[10, 5, 2, 3, 1]
[10, 5, 20, 3, 1]
[10, 5, 20, 3, 33]
[10, 5, 20, 3, 33, 88]

In [39]:
# Tipos diversos

cosas = (12,2,True, "Jose", 1.57, ["Pera","kiwi","Uva" ])
print(cosas)
print(cosas[1])
print(cosas[4])
print(cosas[5])
print(cosas[5][1])
print(cosas[3][1:3:])
#cosas[3] = cosas[3].upper()
#print(cosas)

(12, 2, True, 'Jose', 1.57, ['Pera', 'kiwi', 'Uva'])
2
1.57
['Pera', 'kiwi', 'Uva']
kiwi
os

In [52]:
numeros = [1,2,3,4,5,6,7,8,9,10,11]
print(numeros)
# slcinig
#1.- [4,....,8]
print(numeros[3:8:])
#2.- [9,10]
print(numeros[-3:-1:])
print(numeros[8:10:])
#3.- [11,10,9....,1]
print(numeros[::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[4, 5, 6, 7, 8]
[9, 10]
[9, 10]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [60]:
# Crear una lista con generadores

numeros = [x for x in range (31)]
print (numeros)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

 # Función range()
 Tienen los mismos componentes que slicing 
 inicio, stop, incremento
 range(1,101,1)

In [64]:
numeros = [x for x in range (50,101,5)]
print (numeros)

[50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

# Metodos disponibles de las listas

In [66]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [97]:
numeros = [4,1,15,8,22,34,50]
print(numeros)
numeros.append(99)
print(numeros)
numeros.clear()
print(numeros)
numeros = []
print(numeros)
frutas = ("Uvas","Kiwi","Manzanas")
copia = frutas
print(frutas)
print(copia)
#frutas.append("naranja")
print(frutas)
print(copia)

colores = ("Rojo","Azul","Blanco")
#copia2 = colores.copy()
print(colores)
#print(copia2)
#colores.append("Verde")
print(colores)
#print(copia2)

print("Numero de veces  que aparece el 15=", numeros.count(15))

#extend
nombres = ("Jose","Pedro","Karina")
otrosNombres = ("Josue", "Diana", "Dalia")
print(nombres)
print(otrosNombres)
nombres = nombres + otrosNombres
print(nombres)
print(otrosNombres)
# Lo mismo con el metodo extend
#otrosNombres.extend(['Jesus','Maria','Jose'])
print(otrosNombres)

#print("Jesus esta en la posición: ", otrosNombres.index("Jesus"))

[4, 1, 15, 8, 22, 34, 50]
[4, 1, 15, 8, 22, 34, 50, 99]
[]
[]
('Uvas', 'Kiwi', 'Manzanas')
('Uvas', 'Kiwi', 'Manzanas')
('Uvas', 'Kiwi', 'Manzanas')
('Uvas', 'Kiwi', 'Manzanas')
('Rojo', 'Azul', 'Blanco')
('Rojo', 'Azul', 'Blanco')
Numero de veces  que aparece el 15= 0
('Jose', 'Pedro', 'Karina')
('Josue', 'Diana', 'Dalia')
('Jose', 'Pedro', 'Karina', 'Josue', 'Diana', 'Dalia')
('Josue', 'Diana', 'Dalia')
('Josue', 'Diana', 'Dalia')